.footer{
 padding: 16px 0;
 text-align: center;

 h3{
   color: var(--gray-one);
   font-size: 12px;
   font-weight: 500;
 }
}

.footer-contact{
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
}

