
.header-k{
  align-items: center;
  background-color: var(--clr-complement);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.figure-logo{
  height: 34px;
  width: 38px;

  img{
    width: fit-content;
  }
}

.nav-k-menu_ul{
  align-items: center;
  display: flex;
  gap: 40px;
}
